<h3 id="event-editor" style="margin-top:5em;">
  Editar Citas
  <button
    class="btn btn-primary pull-right">
    <!--ng-click="vm.events.push({title: 'Motivo', draggable: true, resizable: true})"-->
    Agregar
  </button>
  <div class="clearfix"></div>
</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Motivo</th>
      <th>Hora</th>
      <th>Medico</th>
      <th>Eliminar</th>
      <th>Crear</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="">
      <td>
        <input type="text" class="form-control" ng-model="motivo">
      </td>
      <td>
        <input type="text" class="form-control" ng-model="medico">
      </td>
      <!--<td>
        <select ng-model="event.type" class="form-control">
          <option value="important">Important</option>
          <option value="warning">Warning</option>
          <option value="info">Info</option>
          <option value="inverse">Inverse</option>
          <option value="success">Success</option>
          <option value="special">Special</option>
        </select>
      </td>-->
      <td>
        <p class="input-group" style="max-width: 250px">
          <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="" is-open="event.startOpen" close-text="Close">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="vm.toggle($event, 'startOpen', event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true">
        </uib-timepicker>
      </td>
      <td>
        <p class="input-group" style="max-width: 250px">
          <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="vm.toggle($event, 'endOpen', event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true">
        </uib-timepicker>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="vm.events.splice($index, 1)">
          Eliminar
        </button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="vm.events.splice($index, 1)">
          Crear
        </button>
      </td>
    </tr>
  </tbody>
</table>
