.container-login {
  clear: both;
  height: auto;
  overflow: hidden;
  width: 68%;
  padding-bottom: 24em;
  margin: auto;
  padding-top: 14.2em;
  background: #fff;
}
.titulo-recuperar,
.subtitulo-recuperar {
  color: #2271b3;
}
.share-buttons {
  float: left;
  margin-top: 100px;
  padding-left: 60px;
  width: 520px;
}
.login-form-recuperar {
  color: #424242;
  margin: auto;
  text-align: center;
  border-radius: 3px;
}
.emaiLogin-recuperar {
  padding: 11px;
  margin-bottom: 23px;
  border-radius: 3px solid #424242;
  padding-right: 96px;
  margin-top: 21px;
}
.bottom-recuperar {
  padding: 8px;
  padding-right: 43px;
  padding-left: 43px;
  background: #2271b3;
  color: #f5f5f5;
  border: 1px solid #3b94d9;
  border-radius: 3px;
  background-color: #2271b3;
  outline: 0;
  display: inline-block;
}
@media screen and (max-width: 424px) {
  .container-login {
    padding-bottom: 8em;
    padding-top: 8em;
  }
}
@media screen and (max-width: 424px) {
  .container-login {
    padding-bottom: 8em;
    padding-top: 8em;
  }
}
@media screen and (max-width: 720px) {
  .container-login {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (max-width: 1649px) {
  .container-login {
    width: 80%;
  }
}
@media screen and (max-width: 1399px) {
  .container-login {
    width: 100%;
  }
}
@media screen and (max-width: 1125px) {
  .login-form-wrapper {
    width: 478px;
  }
}
@media screen and (max-width: 1125px) {
  .share-buttons {
    width: 366px;
  }
}
@media screen and (max-width: 958px) {
  .share-buttons {
    display: none;
  }
  .login-form-wrapper {
    width: 100%;
    border: NONE;
    margin: auto;
    text-align: center;
  }
  .login-form {
    margin-left: 0;
  }
}
