.welcome {
  margin-top: 5em;
  color: #2271b3;
  font-size: 1.5em;
  height: 37em;
  width: 100%;
}
.heal {
  display: inline-block;
  margin-top: 5em;
  float: right;
  width: 7%;
  margin-right: 15em;
  border-radius: 18em;
}
.care1 {
  border-radius: 50%;
  width: 310%;
}
.sectionTitle {
  text-align: justify;
  font-size: 3em;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 2.5em;
  margin-top: 1em;
  width: 78%;
}
.col-xs-12 {
  left: 5em;
}
.portafoliocontainer-Title {
  font-size: 1.8em;
  width: 7em;
}
.text {
  color: #000;
  width: 100%;
  font-size: 17px;
}
@media screen and (min-width: 434px) {
  .col-xs-12 {
    width: 70%;
    right: 2.8em;
    font-size: 0.8em;
    text-align: center;
  }
  .portafoliocontainer-Title {
    width: 400%;
  }
  .portafoliocontainer {
    right: 3.5em;
    height: 30em;
  }
  .col-xs-12 {
    left: 0;
  }
  .text {
    width: 95%;
  }
  .sectionTitle {
    right: 5em;
  }
}
