.welcome
  margin-top 5em
  color #2271B3
  font-size 1.5em
  height 37em
  width 100%
  // background-image: url('../../img/can-stock-photo_csp23816549.jpg')
  // background-repeat no-repeat
  // background-position center
  // background-size cover

.heal
  display inline-block
  margin-top 5em
  float right
  width 7%
  margin-right 15em
  border-radius 18em

.care1
  border-radius 50%
  width 310%


.sectionTitle
  text-align justify
  font-size 3em
  border-bottom: 2px solid #E0E0E0
  margin-bottom 2.5em
  margin-top 1em


.portafoliocontainer-Title
  font-size 1.8em

.text
 color black
 width 100%
 font-size 17px

.col-xs-12
  left 6em


@media screen and (max-width: 1280px)
  .col-xs-12
    width 67%

  .portafoliocontainer-Title
    width 120%

// @media screen and (max-width: 424px)
//   .row
//     margin-right: 130px;
//     margin-left: -165px;




// @media screen and (max-width: 720px)
