.welcome {
  margin-top: 5em;
  color: #2271b3;
  font-size: 1.5em;
  padding-bottom: 5em;
}
.heal {
  display: inline-block;
  margin-top: 5em;
  float: right;
  width: 7%;
  margin-right: 15em;
  border-radius: 18em;
}
.sectionTitle {
  text-align: justify;
  font-size: 3em;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 2.5em;
  margin-top: 1em;
}
@media screen and (max-width: 403px) {
  .sectionTitle {
    font-size: 36px;
  }
  .portafoliocontainer-Title {
    font-size: 22px;
  }
}
