<section class="SectionPerfil">
  <article class="FormPerfil" style="display:block;">

      <h1 class="textPer"> Bienvenido   </h1>

       <figure class="FormPerfil-img"  >
         <img class="messeger" src="../../img/messenger.jpg" />
       </figure>


  <form class="usuarioPerfil">

    <div class="infoPersonal">

    <md-input-container class="name">
    <label  style="color:black;">Nombre</label>
      <input  style="color:black;" required md-no-asterisk name="nombres" name="apellidos" ng-model="vm.usuario.nombres + vm.usuario.apellidos"  ng-disabled="true";>

     </md-input-container>
     <md-input-container class="especial">
     <label  style="color:black;">Especialidad</label>
    <input  style="color:black;"  required md-no-asterisk name="Especialidad"  ng-model="vm.titulosycertificados" ng-disabled="true ;">
    </md-input-container>
  </div> <br> <br>

      <div>
      <label  style="color:black;" class="Infocontacto"> <p class="labeltext"> Información de contacto </p></label><br>

  <md-input-container class="tel">
    <label  style="color:black;">Teléfono</label>
    <input  style="color:black;" required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true";>
  </md-input-container>



      <md-input-container class="direc">
        <label  style="color:black;" >Dirección</label>
        <input  style="color:black;" required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true";>
      </md-input-container>

      <md-input-container class="correo">
        <label  style="color:black;">Email</label>
        <input  style="color:black;" type="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk name="email" ng-model="vm.usuario.email" ng-disabled="true";>
      </md-input-container>

    </md-input-container> <br>
  </div>


  </form>
  </article>
</section>

<!-- <section class="Profile-container">
  <form class="ProfileForm">
    <div class="HeaderForm">
      <h1 class="text-center Profile-title">Bienvenido</h1>
       <figure class="ProfileImage-container">
         <img class="Profile-image" src="../../img/messenger.jpg" />
       </figure>
    </div>

    <div class="infoPersonal">

    <md-input-container class="name">
    <label>Nombre</label>
      <input required md-no-asterisk name="nombres" name="apellidos" ng-model="vm.usuario.nombres + vm.usuario.apellidos"  ng-disabled="true" ;>

     </md-input-container>
     <md-input-container class="especial" >
     <label>Especialidad</label>
    <input required md-no-asterisk name="Especialidad"  ng-model="vm.tituloscertificados"  ng-disabled="true";>
    </md-input-container>
  </div> <br> <br>





      <label > <p class="labeltext"> Información de contacto </p></label><br>

      <div class="Infocontacto">

  <md-input-container class="tel">
    <label>Teléfono</label>
    <input required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true";>
  </md-input-container>



      <md-input-container class="direc">
        <label>Dirección</label>
        <input required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true";>
      </md-input-container>

      <md-input-container class="correo">
        <label>Email</label>
        <input  type="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk name="email" ng-model="vm.usuario.email" ng-disabled="true";>
      </md-input-container>

    </md-input-container> <br>
  </div>

  </form>
</section> -->
