<section class="SectionPerfil" style="text-align:centrer;">
  <article class="FormPerfil" style="display:block;">

    <h1 style="border-bottom: 2px solid #1E0C53; padding-bottom:.5em;color:#2271b3; text-align:center;">Perfil</h1>

     <figure class="FormPerfil-img"  >
       <img class="messeger" src="../../img/messenger.jpg" width="20%"/>
     </figure>
      <label style="float: left">Foto</label>
  <form class="usuarioPerfil" name="formConfig">
    <div class="infoPersonal">

    <label style="margin-bottom:2em;border-bottom: 2px display:block; color:black;">Información personal</label><br>

    <md-input-container class="md-block">
    <label>Nombre</label>
      <input required md-no-asterisk name="nombres" ng-model="vm.usuario.nombres" style="color:black;">

    </md-input-container>
    <md-input-container class="md-block form-group has-success" >
    <label>Apellidos</label>
    <input required md-no-asterisk name="apellidos"  ng-model="vm.usuario.apellidos" style="color:black;">
    </md-input-container>
    </div>

      <div>
      <label style="margin-bottom:2em;border-bottom: 2px solid black;display:block;">Información de contacto</label><br>

  <md-input-container class="md-block">
    <label>Teléfono</label>
    <input required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" style="color:black;">
  </md-input-container>

  <!-- <md-input-container class="md-block" ng-show="!(vm.SelectRol.idRol === 'USER')">
    <label>Tarjeta Profesional</label>
    <input type="text"  md-no-asterisk name="tarjetaProfesional"  style="color:black;"
           ng-model="vm.usuario.tarjetaProfesional"  id="tarjeta">
  </md-input-container> -->

      <md-input-container class="md-block">
        <label>Dirección</label>
        <input required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" style="color:black;">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Email</label>
        <input type="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk name="email" ng-model="vm.usuario.email" style="color:black;">
      </md-input-container>
      <section>
        <h1>Inhabilitar cuenta</h1>
        <p>Tenga en cuenta que si usted desabilita su cuanta no podras volver a iniciar sesión con ella</p>
        <!-- <md-button class="md-raised md-primary" style="padding:0 10em;">Inhabilitar</md-button> -->
        <md-checkbox  style="color:#00000;font-weight:blod;" class="md-primary" name="TerminosCondiciones" id="chekched" ng-model="vm.usuario.estado" >Inhabilitar Mi Cuenta</md-checkbox>
      </section>

      <!-- <md-autocomplete md-selected-item="vm.usuario.ciudades" md-search-text="vm.searchTextCiudades" ng-disabled="true"
                       md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                       md-item-text="item.nombreCiudad + ' - ' + item.departamentos.nombreDepartamento"
                       md-min-length="1" md-floating-label="Ciudad"  required name="ciudadDomicilio" id="ciudad">
        <md-item-template>
          <span  style="color:black;" md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
            {{item.nombreCiudad}} - {{item.departamentos.nombreDepartamento}}</span>
        </md-item-template>
      </md-autocomplete> -->

    </div>
    <!-- <md-button ng-click="vm.update()" ng-disabled="usuariosCreate.$invalid" class="md-raised md-primary" style="padding:0 10em;">Guardar</md-button>
    <md-button ng-disabled="usuariosCreate.$invalid" class="md-raised md-warn" style="padding:0 10em;">Cancelar</md-button> -->

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

      <md-button ng-click="vm.update()" ng-disabled="formConfig.$invalid" class="buttom"
      class="md-raised" style="background:#4FC3F7;color:white;">Guardar</md-button>

        <md-button ng-disabled="formConfig.$invalid" href="/" class="buttom1" style="background:#01579B;color:white;">Cancelar</md-button>

    </section><br>

    <!-- <section>
      <h1>Inhabilitar cuenta</h1>
      <p>Tenga En Cuanta Que Si Ud Es Muy Pendejo Noob Retrasado Steven Noob, Si Desabilita Su cuanta no Podras Volver A Iniciar Sesión</p>
      <md-button class="md-raised md-primary" style="padding:0 10em;">Inhabilitar</md-button>
      <md-checkbox required style="color:#C0C0C0;font-weight:blod;" class="md-primary" name="TerminosCondiciones" id="chekched" >Inhabilitar Mi Cuenta</md-checkbox>
    </section> -->


  </form>
  </article>
</section>
