*{
  margin: 0;
  padding: 0;
}

.Inicio-image
  background-repeat no-repeat
  background-position center
  background-image: url('../../img/medicine_phixr.png');
  background-size cover
  height 60em
  margin-top 3em
 //  filter blur(2px)
 // -webkit-filter blur(2px)
 // -moz-filter: blur(2px)
 // -o-filter: blur(2px)
 // -ms-filter: blur(2px)

.HeaderAbout-Descripcion
  display inline-block
  font-size 6em
  margin-left 80px
  margin-top 1em

// .container
//   display: inline-block;
//   margin-left: 5em;

.HeaderAbout-Descripcion-p
  font-size 2.1em
  width 40%
  margin-left 3em
  margin-top 3.5em

.IdentityMajor-container
  text-align justify

.altWrap
  // width 100%
  color #2271B3
  font-size 1.5em
  padding-bottom 2em

.sectionTitleInicio
  text-align justify
  font-size 3em
  // border-bottom: 2px solid #E0E0E0
  margin-bottom 1.5em
  margin-top 1em

.portafoliocontainer-Title
  font-size 1.8em

.text
 color black
 width 90%
 font-size 17px

.Elegirnos
 background #2271B3
 color #ffffff

.Title
  font-size 3.5em
  margin-left 12px

.Parrafo-Container
  font-size 17px

.container-Equipo
  background #2271B3

.Equipoimage-container
  text-align center

.picture
  border-radius 5em
  width 50%

.heal
  display inline-block
  margin-top 5em
  float right
  width 7%
  margin-right 15em
  border-radius 18em

.care1
  border-radius 50%
  width 230%

.TittleInicio
  text-align center
  font-size 3em
  margin-bottom 1.5em
  padding-top 1em
  color #FAFAFA
  margin-top 0

.Name
  text-align center
  // font-size 2em
  color #FAFAFA

.Description
  text-align center
  font-size 1em
  color #FAFAFA

@media screen and (max-width: 700px)
  .HeaderAbout-Descripcion
    display inline-block
    font-size 6em
    margin-left 72px
    margin-top 1em
  .care1
    display none

@media screen and (max-width: 700px)
  .HeaderAbout-Descripcion-p
    font-size 2.1em
    width 78%
    margin-left 2em
    margin-top 3.5em
  .care1
    display none

@media screen and (max-width 751px)
    .HeaderAbout-Descripcion-p
      font-size: 1.7em
    .care1
      display none

@media screen and (max-width 360px)
  .HeaderAbout-Descripcion
    font-size 5em
    margin-left 40px
  .care1
    display none

@media screen and (max-width 385px)
  .sectionTitleInicio
    font-size 53px
  .TittleInicio
    font-size 36px
