.Sectionconsulta {
  text-align: center;
/*background-image url('../../img/medicine_phixr.png')*/
  background-color: #bbdefb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  padding-top: 10em;
  padding-bottom: 3em;
}
.FormConsulta {
  background-color: #fffafa;
  display: inline-block;
  padding: 2em;
  border-radius: 0.7em;
  box-shadow: 0.4em 0.4em #90caf9;
  width: 50em;
/*background-image url('../../img/medicine_phixr.png')*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: Snow;
  text-align: center;
}
.FormConsulta-input {
  margin-bottom: 1em;
  border-radius: 1em;
}
.FormConsulta-tittle {
  color: #000;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #448aff;
  margin-bottom: 1em;
}
@media (min-width: 464px) and (max-width: 733px) {
  .FormConsulta {
    width: auto;
  }
}
@media screen and (max-width: 463px) {
  .FormConsulta {
    width: auto;
    padding: 1em;
  }
}
