th
  text-align center
.User-list
  text-align center
.Table
  display inline-block
  min-width 90em
  &-tittle
    background gray
    color white
    padding 0.1em 0.5em
    text-align center
  &-user
    border 1px solid purple
    text-align center

.Input-Search
  text-align center
  margin-left 53em
  padding-right 4em
  padding-left 4em
  margin-bottom 2em
