.Section-3r {
  margin-top: 10.5em;
  text-align: center;
}
.TitleMain-container {
  text-align: center;
}
.Titulo-page {
  border-bottom: 2px solid #2271b3;
  display: inline-block;
  padding-bottom: 0.2em;
}
.Descriccion-page {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
}
.Titulo-page,
.Descriccion-page {
  text-align: center;
  margin-bottom: 0.5em;
}
.SubTitles-container {
  text-align: center;
}
.Div-3r {
  display: inline-block;
  margin: 1em 1em;
}
.Titulo-3r {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 3px solid #2271b3;
  display: inline-block;
}
.Info-3r {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-top: 1em;
  font-size: 1.3em;
  text-align: justify;
}
.Image3r-container {
  display: inline-block;
  margin-left: 2em;
}
.img {
  vertical-align: top;
}
.Image3r {
  display: inline-block;
}
.TituloVideo-3r {
  margin-bottom: 0.3em;
}
.Video3r-container {
  text-align: center;
  margin: 1em auto;
}
.VIdeo3r {
  text-align: center;
  margin-bottom: 2em;
  width: 50%;
  margin: 0 auto;
}
.Div-ecoTips {
  text-align: center;
  margin-bottom: 2em;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .Descriccion-page {
    width: 80%;
  }
}
@media screen and (min-width: 349px) {
  .Descriccion-page {
    text-align: left;
  }
}
@media screen and (min-width: 349px) {
  .Titulo-3r {
    margin-left: -11px;
    text-align: center;
  }
}
@media screen and (max-width: 1151px) {
  .Info-3r {
    width: 100%;
  }
}
@media screen and (min-width: 349px) {
  .Titulo-V {
    font-size: 23px;
  }
}
