<div class="ListUsers-Content">
  <section class="SectionTabUsers">
      <div class="tablaUsers" data-example-id="simple-table">
        <h1 style="padding-bottom:.5em;border-bottom:2px solid black; display:inline-block; font-size:20px">Medico</h1><br>
        <md-input-container>
          <label>Especialidades</label>
          <md-select ng-model="vm.titulos">
            <md-option ng-repeat="titulo in vm.tituloscertificados" value="{{titulo.titulos}}">
              {{titulo.titulos}}
            </md-option>
          </md-select>
        </md-input-container>
        <button type="submit" ng-click="vm.consulta()">consulta</button>
        <table class="table table-bordered SectionTabUsers-table">
          <tr>
            <thead style="background:black;">
              <th><font style="color:white;"><font>Foto</font></th>
              <th><font style="color:white;"><font>Nombre</font></th>
              <th><font style="color:white;"><font>Apellidos</font></th>
            </thead>
            <!-- <tbody ng-repeat="usuario in vm.usuarios" style="" ng-controller="LoginController as login">
              <td scope="row"><font><font>sin imagen de perfil</font></font></td>
              <td scope="row"><font><font><a href="#/perfil/{{usuario.idUsuario}}">{{usuario.nombres}}</a></font></font></td>
              <td scope="row"><font><font>{{usuario.apellidos}}</font></font></td>
              <td scope="row"><font><font><a href="#/consulta/{{login.getIdCurrentUser()}}/{{usuario.idUsuario}}">Crear consulta</a></font></font></td>
            </tbody> -->
            <td data-title="'Foto'" >
                <!-- {{user.nombre}} -->
            </td>
            <td data-title="'Nombre'" >
                {{usuario.nombres}}<a href="#/perfil/{{usuario.idUsuario}}">   Ver perfil</a>
            </td>
            <td data-title="'Apellidos'" >
                {{usuario.apellidos}}
            </td>
            <td scope="row"><font><font><a href="#/consulta/{{login.getIdCurrentUser()}}/{{usuario.idUsuario}}">Crear consulta</a></font></font></td>
          </tr>

        </table>
      </div>
    </section>
</div>
