.SectionRegistro {
  text-align: center;
  background-image: url("../../img/medicine_phixr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  padding-top: 10em;
  padding-bottom: 2em;
}
.RegistroContent {
  text-align: center;
}
.FormRegistro {
  background-color: #fffafa;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em #555;
  width: 28em;
/*background-image url('../../img/medicine_phixr.png')*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: Snow;
  text-align: center;
}
.FormRegistro-input {
  margin-bottom: 1em;
  border-radius: 1em;
}
.FormRegistro-tittle {
  color: #000;
}
@media screen and (max-width: 425px) {
  .FormRegistro {
    width: auto;
  }
  .RegistroFirst-container {
    margin: 0 0.5em;
  }
}
